<div class="navbar-wagon">
  <a href="/restaurants" class="navbar-wagon-brand" onclick="window.location.reload(true)">
  <h4>View restaurants</h4>
  </a>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <p><%= link_to "Create new restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %></p>
  </div>
</div>

